<!doctype html>
    <head>
        <style>
            table {
                border: 1px solid black; 
            }

            tr {
                height: 50px;
            }

            td {
                width: 50px;
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <title>Tank Chess Kifu</title>
        <h1>Tank Game Kifu: {{ game_id }}, Step: {{ step }}</h1>
        {% if game_id != 0 %}
            <table>
            {% for x in range(16): %}
                <tr>
                {% for y in range(16): %}
                    {% if maps.get(x, {}).get(y) %}
                        <td style="background-color: black;">X: {{ x }} Y: {{ y }}</td>
                    {% elif ((x + y) % 2) == 0: %}
                        <td style="background-color: chocolate;">X: {{ x }} Y: {{ y }}</td>
                    {% else %}
                        <td style="background-color: cornsilk;">X: {{ x }} Y: {{ y }}</td>
                    {% endif %}
                {%endfor%}
                </tr>
            {%endfor%} 
            </table>
            <a href="/?action=PREVIOUS">Previous</a> / / <a href="?action=START">From Start</a> / / <a href="/?action=NEXT">Next</a>
        {% else %}
        <p>No game loaded</p>
        <a href="/load_kifu?id=1">Game 1</a>
        {% endif %}
    </body>
</html>